// ------------------------
// Cards
// ------------------------
// Default Card Styles
.card {
    background-color: $color-white;
    border: 1px solid $color-gray-light;
    border-radius: $border-radius;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); // Regular shadow for default cards
    transition: box-shadow $transition, transform $transition;
  
    &:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); // Hover effect with subtle lift
      transform: translateY($card-translate);
    }
  
    .card-img {
      margin-bottom: 14px;
    }
    .card-title {
      font-size: 1.5rem;
      margin-bottom: 2px;
    }
    .card-content {
      font-size: 1rem;
      color: $color-gray-dark;
    }
    .card-actions {
      margin-top: 12px;
    }
    * {
      margin: 0;
    }
  
    // For images inside cards
    & img {
      max-width: 100%; // Ensures images don't overflow the card
      height: auto; // Maintain aspect ratio for images within cards
      max-height: 300px; // Height limit
      object-fit: cover; // Ensures the image fills the area and gets cropped if necessary
    }
    & img.contain {
      object-fit: contain; // Keeps the whole image visible within the card
    }
  }
  
  // Bubble-specific card styles
  .card.bubble {
    box-shadow: 0 -4px 12px rgba(255, 255, 255, 0.4), inset 0 4px 12px rgba(0, 0, 0, 0.1); // Inset shadow for bubble effect
    transition: box-shadow $transition, transform $transition; // Smooth transition for hover and active states
  
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); // Lifted shadow on hover
      transform: translateY($card-translate); // Slight translation upwards
    }
  
    &:active {
      transform: translateY(1px); // Depressed effect when the card is clicked
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Smaller shadow when pressed
    }
  }
  